<p-toast></p-toast>

<div class="container p-5">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <form 
      *ngIf="!isLoggedIn" 
      name="form" 
      (ngSubmit)="f.form.valid && onSubmit()" 
      #f="ngForm" 
      novalidate>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <span class="p-float-label">
            <input pInputText id="username" name="username" [(ngModel)]="form.username" required #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }" class="form-control" />
            <label htmlFor="username">Ваш логин</label>
          </span>
        </div>
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Введите логин
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <span class="p-float-label">
            <input pInputText type="password" id="passwordInput" name="password" [(ngModel)]="form.password" required
              #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" class="form-control" />
            <label htmlFor="passwordInput">Пароль</label>
          </span>
        </div>
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Пароль обязателен</div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>