<form [formGroup]="cityForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
        <label>Название города</label>
        <input pInputText class="form-control" name="cityName" formControlName="cityName" />
        <div class="alert alert-danger"
            *ngIf="cityForm.controls['cityName'].invalid && cityForm.controls['cityName'].touched">
            Не указано название города
        </div>
    </div>
    <div class="form-group">
        <label>Аббревиатура</label>
        <input pInputText class="form-control" name="cityShortName" formControlName="cityShortName" />
        <div class="alert alert-danger"
            *ngIf="cityForm.controls['cityShortName'].invalid && cityForm.controls['cityShortName'].touched">
            Не указана аббревиатура
        </div>
    </div>
    <div class="form-group">
        <button pButton class="btn btn-default" [disabled]="cityForm.invalid">
            {{approveButtonText}}
        </button>
    </div>
</form>