<p-card>
  <form [formGroup]="passwordForm" (ngSubmit)="onSave()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="password">Новый пароль</label>
        <div class="p-inputgroup">
          <input id="password" type="text" pInputText formControlName="password" />
          <button pButton type="button" icon="pi pi-refresh" (click)="generatePassword()"></button>
        </div>
      </div>
      <div class="p-field">
        <button pButton type="submit" label="Подтвердить" style="margin-bottom: 10px;"></button>
        <button pButton type="button" label="Отмена" class="p-button-secondary" (click)="onCancel()"></button>
      </div>
    </div>
  </form>
</p-card>
