<form [formGroup]="newDeviceForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
        <label>Имя</label>
        <input pInputText class="form-control" name="deviceName" formControlName="deviceName" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceName'].invalid && newDeviceForm.controls['deviceName'].touched">
            Не указано имя
        </div>
    </div>
    <div class="form-group">
        <label>Город</label>
        <p-dropdown class="dropdown-block" formControlName="deviceCity" [options]="cities"
            optionLabel="Name"></p-dropdown>
    </div>
    <div class="form-group">
        <label>Тип размещения</label>
        <p-dropdown class="dropdown-block" formControlName="deviceAllocationType" [options]="types_of_allocation"
            optionLabel="Name"></p-dropdown>
    </div>
    <div class="form-group">
        <label>Маршрут</label>
        <input pInputText class="form-control" name="deviceRoute" formControlName="deviceRoute" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceRoute'].invalid && newDeviceForm.controls['deviceRoute'].touched">
            Не указан номер маршрута
        </div>
    </div>
    <div class="form-group">
        <label>Маршрут</label>
        <input pInputText class="form-control" name="deviceMachineNumber" formControlName="deviceMachineNumber" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceMachineNumber'].invalid && newDeviceForm.controls['deviceMachineNumber'].touched">
            Не указан номер машины
        </div>
    </div>
    <div class="form-group">
        <label>Техник</label>
        <input pInputText class="form-control" name="deviceTechName" formControlName="deviceTechName" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceTechName'].invalid && newDeviceForm.controls['deviceTechName'].touched">
            Не указан техник
        </div>
    </div>
    <div class="form-group">
        <label>Версия прошивки</label>
        <input pInputText class="form-control" name="deviceVersion" formControlName="deviceVersion" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceVersion'].invalid && newDeviceForm.controls['deviceVersion'].touched">
            Не указана версия прошивки
        </div>
    </div>
    <div class="form-group">
        <label>Название бакета</label>
        <input pInputText class="form-control" name="deviceBucketName" formControlName="deviceBucketName" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceBucketName'].invalid && newDeviceForm.controls['deviceBucketName'].touched">
            Не указано имя бакета, где хранится плейлист
        </div>
    </div>
    <div class="form-group">
        <label>Префикс пути</label>
        <input pInputText class="form-control" name="deviceBucketPrefix" formControlName="deviceBucketPrefix" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceBucketPrefix'].invalid && newDeviceForm.controls['deviceBucketPrefix'].touched">
            Не указан префикс пути бакета к папке плейслист
        </div>
    </div>
    <div class="form-group">
        <label>Префикс пути</label>
        <input pInputText class="form-control" name="deviceTranslationUrl" formControlName="deviceTranslationUrl" />
        <div class="alert alert-danger"
            *ngIf="newDeviceForm.controls['deviceTranslationUrl'].invalid && newDeviceForm.controls['deviceTranslationUrl'].touched">
            Не указана ссылка на прямую трансляцию
        </div>
    </div>
    <div class="form-group">
        <button pButton class="btn btn-default" [disabled]="newDeviceForm.invalid">
            Добавить
        </button>
    </div>
</form>