<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
        <p>Внимание! Процесс изменения имени устройства может занимать около одной минуты.</p>
        <div class="change-name-div">
            <label>Старое:</label>
            <div class="input-group">
                <input pInputText type="text" class="single-input" formControlName="oldPart1" >
                <input pInputText type="text" class="single-input" formControlName="oldPart2" >
                <input pInputText type="text" class="main-number-input" formControlName="oldPart3" >
                <input pInputText type="text" class="number-input" formControlName="oldPart4" >
            </div>
        </div>

        <div class="change-name-div">
            <label>Новое:</label>
            <div class="input-group">
                <!-- <input pInputText type="text" class="single-input" formControlName="newPart1" >
                <input pInputText type="text" class="single-input" formControlName="newPart2" > -->
                <p-dropdown appendTo="body" formControlName="newPart1" [options]="cities" optionLabel="name"></p-dropdown>
                <p-dropdown appendTo="body" formControlName="newPart2" [options]="allocationTypes" optionLabel="name"></p-dropdown>
                <input pInputText type="text" class="main-number-input" formControlName="newPart3">
                <input pInputText type="text" class="number-input" formControlName="newPart4" >
            </div>
        </div>
    </div>
    <p-button [disabled]="!form.valid || buttonDisabled" type="submit">Подтвердить изменение</p-button>

</form>