<p-card>
  <form [formGroup]="userForm" (ngSubmit)="onSave()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="firstName">Имя</label>
        <input id="firstName" type="text" pInputText formControlName="firstName" />
      </div>
      <div class="p-field">
        <label for="secondName">Фамилия</label>
        <input id="secondName" type="text" pInputText formControlName="secondName" />
      </div>
      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText formControlName="email" />
      </div>
      <div class="p-field">
        <label for="role">Роль</label>
        <p-dropdown
          id="role"
          formControlName="role" 
          [options]="roles"
          optionLabel="name"
          appendTo="body"
          placeholder="Выберите роль" />
      </div>
      <div class="p-field">
        <button pButton type="submit" label="Сохранить"></button>
      </div>
    </div>
  </form>
</p-card>